
html, body {
  height: 100%;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

main {
  flex: 1;
  padding-bottom: 2rem;
}

/* added header and nav for page switching */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 1rem 1.5rem;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
  flex-wrap: wrap;
}

.nav a {
  margin-left: 1rem;
  text-decoration: none;
  color: #555555;
  font-weight: 500;
}

.nav a.active {
  color: #6a5acd;
  border-bottom: 2px solid #6a5acd;
}

/**/

h1 {
  text-align: center;
  margin: 1.5rem 0;
  font-weight: 600;
  padding: 20px;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #fff;
  padding: 1rem;
  margin: 0 1rem 2rem;
  border-radius: 11px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}


input, select, button {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin: 0.4rem;
}

button {
  background-color: #26bbe4;
  max-width: 80px;
  color: white;
  border: none;
  transition: 0.2s;
  padding: 6px;
  box-shadow: 0 2px 4px rgba(0,0,0.25,0.25);
}

button:hover {
  background-color: #0b6780;
}
.kanban-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

.kanban-columns {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
  padding: 0 1rem;
}

.column {
  flex: 0 0 28%;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  padding: 1rem;
  min-width: 260px;
}

.column h2 {
  text-align: center;
  background-color: #26bbe4;
  color: white;
  padding: 0.5rem;
  border-radius: 8px;
  margin-top: 0;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
}

.card {
  width: 100%;
  background-color: white;
  margin: 0.5rem 0;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.16), 0 1px 3px rgba(0,0,0,0.23);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-content {
  padding: 1rem;
  color: black;
}

.card h3 {
  margin-top: 0;
  font-size: 1.1rem;
  color: #333;
}

.card p {
  margin: 0.3rem 0;
  color: #555;
}

.card-actions {
  display: flex;
  justify-content: space-between center;
  padding: 0.5rem 1rem 1rem;
}

.card-actions button {
  border: none;
  background: none;
  font-weight: bold;
  transition: 0.2s;
}

.edit-button {
  color: #fff;
  background-color: rgb(109, 174, 152);
}

.edit-button:hover {
  color: #736e6e;
  background-color: rgb(45, 75, 65);
}
.delete-button {
  color: #fff;
  background-color: rgb(109, 174, 152);;
}

.delete-button:hover {
  color: #a71d2a;
  background-color: rgb(45, 75, 65);
}